body {
    background-color:bisque;
    color:black;
}

/* .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
} */

.main-container {
    display: grid;
    grid-template-areas:
    "gi1 gi5"
    "gi2 gi5"
    "gi3 gi5"
    "gi4 gi5";
    gap: 5px;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr 150px 175px 1fr 1fr;
     
}

.grid-item-1 {
    grid-area: gi1;
}

.grid-item-2 {
    grid-area: gi2;
}

.grid-item-3 {
    grid-area: gi3;
}

.grid-item-4 {
    grid-area: gi4;
}

.grid-item-5 {
    grid-area: gi5;
}


.combotype {
    max-width: 50px;
    height:auto;
}

ul {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    list-style: none;
    max-width: 500px;
    min-height: 90px;
}

li {
    padding:5px;
}
